
html, body, h1, h2, h3, h4, h5, h6, a, p, span, em, small, strong, sub, sup, mark, del, ins, strike, abbr, dfn, blockquote, q, cite, code, pre, ol, ul, li, dl, dt, dd, div, section, article, main, aside, nav, header, hgroup, footer, img, figure, figcaption, address, time, audio, video, canvas, iframe, details, summary, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
  margin: 0;
  padding: 0;
  border: 0;
}

html, body{
    background-color: #0f0f0f;
    font-family: 'sofia-pro','Yu Gothic', 'YuGothic', 'Roboto', 'Helvetica Neue', 'Hiragino Kaku Gothic Pro', 'Meiryo', 'Arial', 'sans-serif';
    font-size: 15px;
    color: #000;
    line-height: 2;
    letter-spacing: .08em;
    font-weight: 300;
    letter-spacing: .08em;
    -webkit-font-smoothing: antialiased;
}

*{
  box-sizing: border-box;
  font-family: sofia-pro, "Yu Gothic", YuGothic, Roboto, "Helvetica Neue", "Hiragino Kaku Gothic Pro", Meiryo, Arial, "sans-serif";
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

*:focus {
  outline: none;
  }

h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}

a{
  color: #fff;
  text-decoration: none;
}

a:hover{
  color: rgb(124, 203, 255);
  text-shadow: 0px 0px 8px #fff;
}

header{
  display: block;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #0f0f0f;
  z-index: 10;
}

li>a span{
  display: block;
  font-size: 12px;
  font-family: "sofia-pro","sans-serif";
  line-height: normal;
}

li>a {
  font-size: 14px;
  letter-spacing: .15em;
  color: #fff;
  text-decoration: none;
  line-height: normal;
}

li{
  padding: 15px 25px;
  text-align: center;
}
